<div id="addWorkloadType" class="section" style="display: none;">
    <div class="right-upper-inner-div">
        <h4 style="color: white">Create New Workload Type</h4>
    </div>
    <div class="right-lower-inner-div">
        <form id="workload-type-form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="workloadDisplayName">Workload Name:</label>
                <input type="text" id="workloadDisplayName" class="form-control" pattern="[A-Za-z0-9][A-Za-z0-9_-]*" title="Name can only contain letters, numbers, underscores (_), and hyphens (-)." required>
            </div>
            <div class="form-group">
                <label for="workloadEnabled" hidden="">Workload Enabled:</label>
                <select id="workloadEnabled" class="form-control" required hidden="">
                    <option value="true" selected>True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <div class="form-group">
                <label>Deployment Method:</label>
                <select id="deployMethod" class="form-control" onchange="toggleDeployMethod()">
                    <option value="yaml" selected>YAML</option>
                    <option value="helm">Helm Chart</option>
                </select>
            </div>

            <div id="yamlSection">
                <div class="form-group">
                    <label>Configuration Method:</label>
                    <select id="configMethod" class="form-control" onchange="toggleConfigMethod()">
                        <option value="dynamic">Dynamic Configuration</option>
                        <option value="upload" selected>Upload YAML</option>
                    </select>
                </div>

                <div id="dynamicConfig">
                    <div class="form-group">
                        <label>Resource Type:</label>
                        <select id="resourceType" class="form-control" onchange="updateFormFields()">
                            <option value="Pod" selected>Pod</option>
                            <option value="Deployment">Deployment</option>
                            <!--<option value="StatefulSet">StatefulSet</option>
                            <option value="DaemonSet">DaemonSet</option>
                            <option value="Job">Job</option>-->
                        </select>
                    </div>

                    <div id="dynamicFields">
                        {% if current_user.user_level == 'beginner' or current_user.user_level == 'intermediate' or current_user.user_level == 'advanced' %}
                        <div class="beginner-section form-group">
                            <div class="form-group" id="div_container_image">
                                <label>Container Image:</label>
                                <input type="text" class="form-control" name="image" id="image"
                                       value="usman476/coap:latest" placeholder="Enter container info.">
                            </div>
                            <div class="form-group" id="div_container_interpreter">
                                <label>Command Interpreter:</label>
                                <input type="text" class="form-control" name="cmd_interpreter" id="cmd_interpreter"
                                       value="python3" placeholder="Enter command interpreter (e.g., shell)">
                            </div>
                            <div class="form-group" id="div_container_arguments">
                                <label>Command Arguments (space-separated):</label>
                                <input type="text" class="form-control" name="cmd_arguments" id="cmd_arguments"
                                       value="coap-server.py" placeholder="arg1 arg2 arg3">
                            </div>
                            <div class="form-group" id="div_container_port">
                                <label>Container Port:</label>
                                <input type="number" class="form-control" name="container_port" id="container_port"
                                       value="5683" placeholder="Enter container port number">
                            </div>
                        </div>
                        {% endif %}
                        {% if current_user.user_level == 'intermediate' or current_user.user_level == 'advanced' %}
                        <div class="intermediate-section form-group">
                            <div class="form-group" id="div_image_pull_policy">
                                <label>Image Pull Policy:</label>
                                <select name="imagePullPolicy" id="pull_policy" class="form-control">
                                    <option value="Always">Always</option>
                                    <option value="IfNotPresent" selected>IfNotPresent</option>
                                    <option value="Never">Never</option>
                                  </select>
                            </div>
                            <div class="form-group" id="envVars">
                                <div class="form-group env-entry">
                                    <label>Environment Variables:</label>
                                    <input type="text" class="form-control" name="envName[]" placeholder="ENV_NAME">
                                    <input type="text" class="form-control" name="envValue[]"
                                           placeholder="ENV_VALUE">
                                    <button type="button" class="btn btn-danger" onclick="removeEntry(this)">
                                        Remove
                                    </button>
                                    <button type="button" class="btn btn-primary" onclick="addEnvVar()">Add More</button>
                                </div>
                            </div>
                            <div class="form-group" id="volumes">
                                <div class="form-group volume-entry">
                                    <label>Volumes and Mounts:</label>
                                    <input type="text" class="form-control" name="volumeName[]"
                                           placeholder="Volume Name (e.g., shared-data)">
                                    <select class="form-control" name="volumeType[]">
                                      <option value="emptyDir">emptyDir</option>
                                      <option value="hostPath" selected>hostPath</option>
                                      <option value="configMap">configMap</option>
                                    </select>
                                    <input type="text" class="form-control" name="volumeSource[]"
                                           placeholder="Source (e.g., /host/path)">
                                    <input type="text" class="form-control" name="mountPath[]"
                                           placeholder="Mount Path (e.g., /container/path)">
                                    <button type="button" class="btn btn-danger" onclick="removeVolume(this)">
                                        Remove
                                    </button>
                                    <button type="button" id="addVolumeBtn" class="btn btn-primary"  onclick="addVolume()">Add More</button>
                                </div>
                            </div>
                            <div class="resource-section form-group">
                              <label>Requests:</label>
                              <input class="form-control" type="text" name="cpuRequest" placeholder="CPU (e.g., 100m)">
                              <input class="form-control" type="text" name="memoryRequest" placeholder="Memory (e.g., 256Mi)">

                              <label>Limits:</label>
                              <input class="form-control" type="text" name="cpuLimit" placeholder="CPU Limit">
                              <input class="form-control" type="text" name="memoryLimit" placeholder="Memory Limit">
                            </div>
                        </div>
                        {% endif %}
                        {% if current_user.user_level == 'advanced' %}
                        <div class="advanced-section form-group">
                          <div class="restart-section form-group">
                            <label>Restart Policy:</label>
                              <select class="form-control" name="restartPolicy">
                                <option value="Always">Always</option>
                                <option value="OnFailure">OnFailure</option>
                                <option value="Never">Never</option>
                              </select>
                          </div>
                          <div class="affinity-section form-group">
                            <label>Affinity Rule:</label>
                            <input class="form-control" type="text" name="nodeAffinityKey" placeholder="Node label key">
                            <input class="form-control" type="text" name="nodeAffinityValue" placeholder="Node label value">
                          </div>
                          <div class="toleration-section form-group">
                            <label>Toleration:</label>
                            <input type="text" class="form-control" name="tolerationKey" placeholder="Toleration key">
                            <input type="text" class="form-control" name="tolerationValue" placeholder="Toleration value">
                            <select class="form-control" name="tolerationEffect">
                              <option class="form-control" value="NoSchedule">NoSchedule</option>
                              <option class="form-control" value="PreferNoSchedule">PreferNoSchedule</option>
                              <option class="form-control" value="NoExecute">NoExecute</option>
                            </select>
                          </div>
                          <div class="security-context form-group">
                            <label>Security Context:</label>
                            <input type="number" class="form-control" name="runAsUser" placeholder="Run as User ID">
                            <input type="number" class="form-control" name="runAsGroup" placeholder="Run as Group ID">
                            <input type="checkbox" name="privileged"> Privileged
                          </div>
                          <div class="probe-section form-group">
                            <label>Liveness Probe</label>
                            <input type="text" class="form-control" name="livenessPath" placeholder="Path (e.g., /healthz)">
                            <input type="number" class="form-control" name="livenessPort" placeholder="Port">
                            <input type="number" class="form-control" name="livenessInitialDelay" placeholder="Initial Delay (s)">

                            <label>Readiness Probe</label>
                            <input type="text" class="form-control" name="readinessPath" placeholder="Path">
                            <input type="number" class="form-control" name="readinessPort" placeholder="Port">
                            <input type="number" class="form-control" name="readinessInitialDelay" placeholder="Initial Delay (s)">
                          </div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="form-group service-section" style="display: none;" onchange="updateServiceFields()">
                        <label>Create Service:</label>
                        <select class="form-control" name="service_type">
                            <option value="" selected>None</option>
                            <option value="ClusterIP">ClusterIP</option>
                            <option value="NodePort">NodePort</option>
                        </select>
                    </div>
                    <div class="form-group service-section" id="serviceOptions" style="display: none;">
                    </div>

                </div>

                <div id="uploadConfig" style="display: none;">
                    <div class="form-group">
                        <label>Upload YAML File:</label>
                        <input type="file" class="form-control-file" id="workloadYaml" name="yaml_file"
                               accept=".yaml,.yml" multiple>
                    </div>
                </div>
            </div>

            <!-- Helm Chart Section -->
            <div id="helmSection" style="display: none;">
                <div class="helm-basic-fields" id="helm_beginner_div" style="display: none;">
                    <div class="form-group">
                        <label>Name (Used for installing a chart):</label>
                        <input type="text" class="form-control" id="helmDeploymentName" value="mysql" title="It is the name you want to give to your current helm chart installation.">
                    </div>
                    <div class="form-group">
                        <label>Repository Name (Used for adding repo):</label>
                        <input type="text" class="form-control" id="helmRepoName" value="bitnami" title="It is an alias you assign when adding a repository.">
                    </div>
                    <div class="form-group">
                        <label>Repository URL:</label>
                        <input type="text" class="form-control" id="helmRepoURL" value="https://charts.bitnami.com/bitnami" title="This is the URL where the Helm chart repository is hosted.">
                    </div>
                    <div class="form-group">
                        <label>Chart Name:</label>
                        <input type="text" class="form-control" id="helmChart" value="mysql" title="It is the actual name of the chart you wanna deploy.">
                    </div>
                </div>

                {% if current_user.user_level == 'intermediate' or current_user.user_level == 'advanced' %}
                <div class="helm-intermediate-fields" id="helm_intermediate_div" style="display: none;">
                    <div class="form-group">
                        <label>Chart Version:</label>
                        <input type="text" class="form-control" id="helmChartVersion" value="" title="It specifies chart version to install.">
                    </div>
                    <div class="form-group">
                        <label>Set Values:</label>
                        <textarea class="form-control" id="helmSetValues"
                                  value="" title="It will set/modify values using the command line. key1=value1;key2=value2">primary.persistence.enabled=false</textarea>
                    </div>
                </div>
                {% endif %}

                {% if current_user.user_level == 'advanced' %}
                <div class="helm-advanced-fields" id="helm_advanced_div" style="display: none;">
                    <div class="form-group">
                        <label>Values File:</label>
                        <input type="file" class="form-control-file" id="helmValuesFile" title="It will upload a values file.">
                    </div>
                </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary" value="Submit">Save Workload Type</button>
        </form>
    </div>
</div>