<div id="createWorkload" class="section">
    <div class="right-upper-inner-div">
        <h4 style="color: white">Deploy Workload(s) in the Cluster</h4>
    </div>
    <div class="right-lower-inner-div">
        <form id="workload-form">
            <div id="workloads">
                <div class="workload-section">
                    <div class="form-group">
                        <label for="duration">Run Duration (seconds):</label>
                        <input type="number" name="duration[]" class="form-control duration" min="1" value="120"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="workload_type">Workload Type:</label>
                        <select name="workload_type[]" class="form-control workload_type" required></select>
                    </div>
                    <input type="hidden" name="deploy_method[]" class="form-control deploy_method">
                    <div class="yaml-specific" style="display: none;">
                        <div class="form-group">
                            <label for="replicas">No. of Replicas (Deployment only):</label>
                            <input type="number" name="replicas[]" class="form-control replicas" min="1" value="1"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="node_name">Cluster Node for Deployment:</label>
                            <select name="node_name[]" class="form-control node_name" required>
                                <option value="any">Any</option>
                            </select>
                        </div>
                    </div>
                    <div class="helm-specific" style="display: none;">
                        <div class="form-group">
                            <label for="helm_deployment_name">Name (Used for installing a chart):</label>
                            <input type="text" class="form-control helm-field helm_deployment_name" name="helm_deployment_name[]" placeholder="Name" title="It is the name you want to give to your current helm chart installation.">
                        </div>
                        <div class="form-group">
                            <label for="helm_repo_name">Repository Name (Used for adding repo):</label>
                            <input type="text" class="form-control helm-field helm_repo_name" name="helm_repo_name[]" placeholder="Repository Name" title="It is an alias you assign when adding a repository." >
                        </div>
                        <div class="form-group">
                            <label for="helm_repo_url">Helm Repository URL:</label>
                            <input type="text" class="form-control helm-field helm_repo_url" name="helm_repo_url[]" placeholder="Helm Repository" title="This is the URL where the Helm chart repository is hosted.">
                        </div>
                        <div class="form-group">
                            <label for="helm_chart">Chart Name:</label>
                            <input type="text" class="form-control helm-field helm_chart" name="helm_chart[]" placeholder="Chart Name" title="It is the actual name of the chart.">
                        </div>
                        {% if current_user.user_level == 'intermediate' or current_user.user_level == 'advanced' %}
                        <div class="form-group">
                            <label for="helm_chart_version">Chart Version:</label>
                            <input type="text" class="form-control helm-field helm_chart_version" name="helm_chart_version[]" placeholder="Chart Version" title="It specifies chart version to install.">
                        </div>
                        <div class="form-group">
                            <label for="helm_set_values">Set Values:</label>
                            <textarea class="form-control helm-field helm_set_values" name="helm_set_values[]"
                                  placeholder="key1=value1;key2=value2" title="It will set/modify values using the command line."></textarea>
                        </div>
                        {% endif %}
                    </div>
                    <button type="button" class="btn btn-danger" onclick="removeWorkload(this)">Remove</button>

                    <hr>
                </div>
            </div>
            <button type="button" id="addWorkloadBtn" class="btn btn-primary">Add More Workload</button>
            <br>
            <input type="submit" value="Submit" class="btn btn-success">
        </form>
    </div>
</div>