body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    /*background-color: #f2f2f2; *//* Main orange color *//*
    color: black;*/
    /*background-color: #404040;*/
    background-color: #4d94ff;
    color: white;
    padding: 5px 0 5px 0;
    text-align: center;
    font-size: 16px;
    /*border-bottom: 2px solid #8c8c8c;*/
    /*border-bottom: 2px solid #0047b3;*/
    height: auto;
    flex-shrink: 0;
}

.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: calc(100vh - 120px); /* Account for header/footer */
    overflow: auto;
    /*flex-grow: 1;*/
}

#left-panel {
    width: 100%;
    background-color: #ffffff;
    font-size: 14px;
    padding: 10px;
    /*border-right: 1px solid #dee2e6;*/
    /*border-right: 2px solid #b3b3b3;*/
    color: #002966;
    box-sizing: border-box;
}

#right-panel {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    font-size: 14px;
    color: black;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .main-container {
        flex-direction: row;
    }
    #left-panel {
        padding: 10px 5px;
        width: 20%;
    }
    #right-panel {
        padding: 10px 5px;
        width: 80%;
    }
    .dropdown-menu {
        position: static !important;
        transform: none !important;
    }

    .left-panel button {
        white-space: normal;
    }
}

/* Ensure the dropdown menu stays within the left panel */
.dropdown-menu {
    width: 100%; /* Make it stretch to the full width of the button */
    position: relative; /* Prevents it from overlapping other elements */
    z-index: 1000; /* Ensure it appears above other elements */
}

.dropdown-toggle::after {
    float: right;
    margin-top: 8px;
}

.left-panel button {
    background-color: #999999; /* Main orange color */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}

.left-panel button:hover {
    background-color: #d9d9d9;
}

.menu-item {
    cursor: pointer;
    padding: 10px;
    margin: 3px 0;
    /*background-color: #4d4d4d;*/
    color: black;
    text-align: left;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #b30000; /* Darker shade for hover */
    color: white;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}

.panel-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.left-title {
    color: black;
}

.right-title {
    color: white;
}

.upper-inner-div {
    height: 10%;
    color: white;
    /*background-color: #85a3e0;*/
    background-color: #0047b3;
    /*border: 2px solid #0047b3;*/
    text-align: center;
    /*background-color: #4d4d4d;*/
    padding: 8px;
}

.lower-inner-div {
    height: 90%;
    padding: 8px;
    /*border: 2px solid #adc2eb;*/
    /*border: 2px solid #0047b3;*/
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

.login-container, .register-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.login-container h2, .register-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

th, td {
    padding: 8px 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #ffcc00;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #99d6ff;
    color: white;
}

caption {
    font-size: 24px;
    margin: 15px;
    font-weight: bold;
    color: #333;
}

.footer {
    background-color: #f8f9fa; /* Light gray */
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #333;
    width: 100%;
    position: relative;
    margin-top: auto;
    bottom: 0;
    left: 0;
}
